---
layout: default
rightVideo: true
---

<div class="content">
  <div class="desktop"></div>
  <div class="videos">
    <div class="guest">
      <h2>
        <span id="episode-guest"><!-- this gets set by JavaScript --></span>
      </h2>
    </div>
    <div class="host">
      <h2>
        <span>Jason Lengstorf</span>
      </h2>
    </div>
  </div>
</div>
