<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LWJ Pair Programming Scene</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/beard-game.css" />
  </head>
  <body>
    <main class="overlay">
      <div class="top-bar"></div>

      {{ content }}

      <div class="bottom-bar"></div>

      {% include lower-third %}
    </main>

    <div
      class="boop-drop full-screen {% if leftVideo == true %}left{% endif %}"
    ></div>
    <div class="beard-game {% if leftVideo == true %}left{% endif %}"></div>
    <div class="effects"></div>

    <script type="module">
      import { loadNextEpisode } from '/js/twitch.js';
      import { startAnimation } from '/js/animations.js';

      loadNextEpisode();
      startAnimation();
    </script>
    <script src="/js/app.js"></script>
  </body>
</html>
