<div class="lower-third">
  <div class="logo">
    <img src="/images/learn-with-jason-dark.svg" alt="Learn With Jason" />
    <canvas id="canvas"></canvas>
  </div>
  <div class="details">
    <h1 id="episode-title"><!-- this gets set by JavaScript --></h1>

    <div class="rotator">
      <div class="schedule">
        <p>
          see past and upcoming episodes at
          <strong>learnwithjason.dev</strong>
        </p>
      </div>

      <div class="captions">
        <p>
          visit
          <strong>lwj.dev/live</strong>
          to access live captions by White Coat Captioning
        </p>
      </div>

      <div class="sponsors">
        <span>live captioning made possible by</span>
        <img src="/images/sponsors/netlify.svg" alt="Netlify" />
        <img src="/images/sponsors/fauna.png" alt="Fauna" />
      </div>
    </div>
  </div>
  <div class="chat"></div>
</div>
